<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.dao.RoomDao">

    <!--获取房间总数-->
    <select id="getPages" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM room
    </select>

    <!--查询所有房间信息-->
    <select id="getRoomList" parameterType="int"  resultType="ssm.domain.Room">
        SELECT * FROM room WHERE gameOver = #{gameOver}
    </select>

    <!--新增房间游戏人数 -->
    <update id="playerIn" parameterType="int">
        UPDATE room SET playerNums = playerNums+1 WHERE roomId = #{roomId}
    </update>

    <!--用户退出游戏房间，游戏人数减 1 -->
    <update id="playerOut" parameterType="int">
        UPDATE room SET playerNums = playerNums-1 WHERE roomId = #{roomId}
    </update>

    <!--根据房间id（roomId）查询房间所有信息-->
    <select id="getCurrentRoom" parameterType="int" resultType="ssm.domain.Room">
        SELECT * FROM room WHERE roomId = #{rId}
    </select>

    <select id="getCurrentPlayerNums" parameterType="int" resultType="java.lang.Integer">
        SELECT playerNums FROM room WHERE roomId = #{rId}
    </select>

</mapper>